In [2]:
import pandas as pd

In [3]:
match=pd.read_csv('./datasets/match.csv')
player=pd.read_csv('./datasets/player_match.csv')

In [4]:
match.columns

Index(['match_sk', 'match_id', 'team1', 'team2', 'match_date', 'season_year',
       'venue_name', 'city_name', 'country_name', 'toss_winner',
       'match_winner', 'toss_name', 'win_type', 'outcome_type', 'manofmach',
       'win_margin', 'country_id'],
      dtype='object')

In [5]:
player.columns

Index(['player_match_sk', 'playermatch_key', 'match_id', 'player_id',
       'player_name', 'dob', 'batting_hand', 'bowling_skill', 'country_name',
       'role_desc', 'player_team', 'opposit_team', 'season_year',
       'is_manofthematch', 'age_as_on_match', 'isplayers_team_won',
       'batting_status', 'bowling_status', 'player_captain', 'opposit_captain',
       'player_keeper', 'opposit_keeper'],
      dtype='object')

In [6]:
match_columns=match[['match_id', 'match_winner', 'manofmach']].copy()
player_columns=player[['match_id','player_name','player_team']].copy()

In [7]:
match_columns

     match_id                 match_winner         manofmach
0      335987        Kolkata Knight Riders       BB McCullum
1      335988          Chennai Super Kings        MEK Hussey
2      335989             Delhi Daredevils       MF Maharoof
3      335990  Royal Challengers Bangalore        MV Boucher
4      335991        Kolkata Knight Riders         DJ Hussey
..        ...                          ...               ...
632   1082646  Royal Challengers Bangalore          HV Patel
633   1082647      Rising Pune Supergiants  Wasington Sundar
634   1082648        Kolkata Knight Riders   NM Coulter-Nile
635   1082649               Mumbai Indians         KV Sharma
636   1082650               Mumbai Indians         KH Pandya

[637 rows x 3 columns]

In [8]:
match_columns=match_columns.dropna(subset=['match_winner'])

In [9]:
match_player = pd.merge(
    match_columns,
    player_columns[['match_id', 'player_name', 'player_team']],  
    left_on=['match_id', 'manofmach'],  
    right_on=['match_id', 'player_name'],  
    how='left' 
)

In [10]:
match_player

,match_id,match_winner,manofmach,player_name,player_team
0,335987,Kolkata Knight Riders,BB McCullum,BB McCullum,Kolkata Knight Riders
1,335988,Chennai Super Kings,MEK Hussey,MEK Hussey,Chennai Super Kings
2,335989,Delhi Daredevils,MF Maharoof,MF Maharoof,Delhi Daredevils
3,335990,Royal Challengers Bangalore,MV Boucher,MV Boucher,Royal Challengers Bangalore
4,335991,Kolkata Knight Riders,DJ Hussey,DJ Hussey,Kolkata Knight Riders
...,...,...,...,...,...
629,1082646,Royal Challengers Bangalore,HV Patel,HV Patel,Royal Challengers Bangalore
630,1082647,Rising Pune Supergiants,Wasington Sundar,NaN,NaN
631,1082648,Kolkata Knight Riders,NM Coulter-Nile,NM Coulter-Nile,Kolkata Knight Riders
632,1082649,Mumbai Indians,KV Sharma,KV Sharma,Mumbai Indians
633,1082650,Mumbai Indians,KH Pandya,KH Pandya,Mumbai Indians